<!------Navigation Bar------>
<section id="nav-bar" >
  <div class="nav-bar" style="padding:fixed; top:0; color:#000000;">
  <nav class="navbar navbar-expand-lg  bg-light">
    <a class="navbar-brand" href="#" ><h1 style="color=#000000;">Smart Storage</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li> 
      <li class="nav-item">
          <a class="nav-link" href="#">CONTACT US</a>
        </li>   
        <li class="nav-item">
      <div class="nav-link">
    <!--  <div class="account-dropdown">
           <button class="account-dropdown-btn dropdown-toggle bg-light"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       ACCOUNTsss
           <span class="caret"></span>
         </button>
       <!-- <div class="account-dropdown-content" >
             <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
           <li><a href="#">Log in</a></li>
               <li><a href="#">FAQ</a></li>
               <li><a href="#">Support</a></li>
             </ul>
      </div>-->
        <div class="dropdown">
           <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      ACCOUNT
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
      <li><a href="form.html">Log In</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Support</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Other link</a></li>
    </ul>
  </div></div>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  </section>